<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string>CUW</string>
	<key>ITA</key>
	<string>ITA</string>
	<key>VEN</key>
	<string>VEN</string>
	<key>BAH</key>
	<string>BHS</string>
	<key>GBJ</key>
	<string>JEY</string>
	<key>TGA</key>
	<string>TON</string>
	<key>PAR</key>
	<string>PRY</string>
	<key>MRI</key>
	<string>MUS</string>
	<key>BDI</key>
	<string>BDI</string>
	<key>DMA</key>
	<string>DMA</string>
	<key>HKG</key>
	<string>HKG</string>
	<key>MLI</key>
	<string>MLI</string>
	<key>KOR</key>
	<string>KOR</string>
	<key>KIR</key>
	<string>KIR</string>
	<key>IND</key>
	<string>IND</string>
	<key>GBM</key>
	<string>IMN</string>
	<key>SAH</key>
	<string>ESH</string>
	<key>NIG</key>
	<string>NER</string>
	<key>TPE</key>
	<string>TWN</string>
	<key>USA</key>
	<string>USA</string>
	<key>UGA</key>
	<string>UGA</string>
	<key>GEO</key>
	<string>GEO</string>
	<key>SVK</key>
	<string>SVK</string>
	<key>KUW</key>
	<string>KWT</string>
	<key>MON</key>
	<string>MCO</string>
	<key>BAN</key>
	<string>BGD</string>
	<key>QAT</key>
	<string>QAT</string>
	<key>SPM</key>
	<string>SPM</string>
	<key>TAH</key>
	<string>PYF</string>
	<key>GER</key>
	<string>DEU</string>
	<key>NFK</key>
	<string>NFK</string>
	<key>SVN</key>
	<string>SVN</string>
	<key>SAM</key>
	<string>WSM</string>
	<key>DJI</key>
	<string>DJI</string>
	<key>NCL</key>
	<string>NCL</string>
	<key>UAE</key>
	<string>ARE</string>
	<key>CAM</key>
	<string>KHM</string>
	<key>PLE</key>
	<string>PSE</string>
	<key>VGB</key>
	<string>VGB</string>
	<key>CAN</key>
	<string>CAN</string>
	<key>TJK</key>
	<string>TJK</string>
	<key>CYP</key>
	<string>CYP</string>
	<key>CGO</key>
	<string>COG</string>
	<key>YEM</key>
	<string>YEM</string>
	<key>LUX</key>
	<string>LUX</string>
	<key>AIA</key>
	<string>AIA</string>
	<key>SYR</key>
	<string>SYR</string>
	<key>MLT</key>
	<string>MLT</string>
	<key>ALB</key>
	<string>ALB</string>
	<key>SMR</key>
	<string>SMR</string>
	<key>CMR</key>
	<string>CMR</string>
	<key>TAN</key>
	<string>TZA</string>
	<key>ALD</key>
	<string>ALA</string>
	<key>NOR</key>
	<string>NOR</string>
	<key>NIR</key>
	<string>GB-NIR</string>
	<key>BRA</key>
	<string>BRA</string>
	<key>GAB</key>
	<string>GAB</string>
	<key>PRK</key>
	<string>PRK</string>
	<key>BFA</key>
	<string>BFA</string>
	<key>BRB</key>
	<string>BRB</string>
	<key>GBZ</key>
	<string>GIB</string>
	<key>ARG</key>
	<string>ARG</string>
	<key>POL</key>
	<string>POL</string>
	<key>NRU</key>
	<string>NRU</string>
	<key>ALG</key>
	<string>DZA</string>
	<key>CPV</key>
	<string>CPV</string>
	<key>NIU</key>
	<string>NIU</string>
	<key>MOZ</key>
	<string>MOZ</string>
	<key>MKD</key>
	<string>MKD</string>
	<key>SRB</key>
	<string>SRB</string>
	<key>PCN</key>
	<string>PCN</string>
	<key>ESP</key>
	<string>ESP</string>
	<key>CUB</key>
	<string>CUB</string>
	<key>MNE</key>
	<string>MNE</string>
	<key>FSM</key>
	<string>FSM</string>
	<key>CAY</key>
	<string>CYM</string>
	<key>CRC</key>
	<string>CRI</string>
	<key>SUD</key>
	<string>SDN</string>
	<key>KEN</key>
	<string>KEN</string>
	<key>MNG</key>
	<string>MNG</string>
	<key>PUR</key>
	<string>PRI</string>
	<key>VAN</key>
	<string>VUT</string>
	<key>COD</key>
	<string>COD</string>
	<key>BIH</key>
	<string>BIH</string>
	<key>POR</key>
	<string>PRT</string>
	<key>ARM</key>
	<string>ARM</string>
	<key>SLE</key>
	<string>SLE</string>
	<key>EST</key>
	<string>EST</string>
	<key>MWI</key>
	<string>MWI</string>
	<key>TCA</key>
	<string>TCA</string>
	<key>NED</key>
	<string>NLD</string>
	<key>WAL</key>
	<string>GB-WLS</string>
	<key>BUL</key>
	<string>BGR</string>
	<key>BOL</key>
	<string>BOL</string>
	<key>SUI</key>
	<string>CHE</string>
	<key>GAM</key>
	<string>GMB</string>
	<key>SRI</key>
	<string>LKA</string>
	<key>HAI</key>
	<string>HTI</string>
	<key>MHL</key>
	<string>MHL</string>
	<key>PLW</key>
	<string>PLW</string>
	<key>VAT</key>
	<string>VAT</string>
	<key>AUS</key>
	<string>AUS</string>
	<key>MTN</key>
	<string>MRT</string>
	<key>TOG</key>
	<string>TGO</string>
	<key>EGY</key>
	<string>EGY</string>
	<key>COK</key>
	<string>COK</string>
	<key>AUT</key>
	<string>AUT</string>
	<key>SOL</key>
	<string>SLB</string>
	<key>LBR</key>
	<string>LBR</string>
	<key>CCK</key>
	<string>CCK</string>
	<key>KSA</key>
	<string>SAU</string>
	<key>COL</key>
	<string>COL</string>
	<key>SOM</key>
	<string>SOM</string>
	<key>NZL</key>
	<string>NZL</string>
	<key>TRI</key>
	<string>TTO</string>
	<key>ARU</key>
	<string>ABW</string>
	<key>LES</key>
	<string>LSO</string>
	<key>LTU</key>
	<string>LTU</string>
	<key>COM</key>
	<string>COM</string>
	<key>MTQ</key>
	<string>MTQ</string>
	<key>RUS</key>
	<string>RUS</string>
	<key>SIN</key>
	<string>SGP</string>
	<key>FRA</key>
	<string>FRA</string>
	<key>BLR</key>
	<string>BLR</string>
	<key>ROS</key>
	<string>ATA</string>
	<key>ISL</key>
	<string>ISL</string>
	<key>CRO</key>
	<string>HRV</string>
	<key>SCO</key>
	<string>GB-SCT</string>
	<key>WL</key>
	<string>WLD</string>
	<key>BOT</key>
	<string>BWA</string>
	<key>ROU</key>
	<string>ROU</string>
	<key>LVA</key>
	<string>LVA</string>
	<key>BRU</key>
	<string>BRN</string>
	<key>PNG</key>
	<string>PNG</string>
	<key>SUR</key>
	<string>SUR</string>
	<key>TUN</key>
	<string>TUN</string>
	<key>CXR</key>
	<string>CXR</string>
	<key>IDN</key>
	<string>IDN</string>
	<key>DOM</key>
	<string>DOM</string>
	<key>NEP</key>
	<string>NPL</string>
	<key>VIE</key>
	<string>VNM</string>
	<key>ERI</key>
	<string>ERI</string>
	<key>GUA</key>
	<string>GTM</string>
	<key>LBY</key>
	<string>LBY</string>
	<key>RWA</key>
	<string>RWA</string>
	<key>AND</key>
	<string>AND</string>
	<key>AZE</key>
	<string>AZE</string>
	<key>PHI</key>
	<string>PHL</string>
	<key>MYA</key>
	<string>MMR</string>
	<key>ISR</key>
	<string>ISR</string>
	<key>ZAM</key>
	<string>ZMB</string>
	<key>JPN</key>
	<string>JPN</string>
	<key>JAM</key>
	<string>JAM</string>
	<key>TUR</key>
	<string>TUR</string>
	<key>MEX</key>
	<string>MEX</string>
	<key>ATG</key>
	<string>ATG</string>
	<key>SLV</key>
	<string>SLV</string>
	<key>ANG</key>
	<string>AGO</string>
	<key>MDA</key>
	<string>MDA</string>
	<key>BLZ</key>
	<string>BLZ</string>
	<key>GRE</key>
	<string>GRC</string>
	<key>CIV</key>
	<string>CIV</string>
	<key>WLF</key>
	<string>WLF</string>
	<key>TLS</key>
	<string>TLS</string>
	<key>GUF</key>
	<string>GUF</string>
	<key>FIJ</key>
	<string>FJI</string>
	<key>MAC</key>
	<string>MAC</string>
	<key>CTA</key>
	<string>CAF</string>
	<key>FLK</key>
	<string>FLK</string>
	<key>CHA</key>
	<string>TCD</string>
	<key>MAD</key>
	<string>MDG</string>
	<key>TUV</key>
	<string>TUV</string>
	<key>GUI</key>
	<string>GIN</string>
	<key>NGA</key>
	<string>NGA</string>
	<key>EUR</key>
	<string>EUR</string>
	<key>VIN</key>
	<string>VCT</string>
	<key>SWE</key>
	<string>SWE</string>
	<key>FIN</key>
	<string>FIN</string>
	<key>CZE</key>
	<string>CZE</string>
	<key>FRO</key>
	<string>FRO</string>
	<key>PER</key>
	<string>PER</string>
	<key>THA</key>
	<string>THA</string>
	<key>URU</key>
	<string>URY</string>
	<key>GRL</key>
	<string>GRL</string>
	<key>OMA</key>
	<string>OMN</string>
	<key>GUM</key>
	<string>GUM</string>
	<key>ECU</key>
	<string>ECU</string>
	<key>VIR</key>
	<string>VIR</string>
	<key>GRN</key>
	<string>GRD</string>
	<key>LAO</key>
	<string>LAO</string>
	<key>BEL</key>
	<string>BEL</string>
	<key>UZB</key>
	<string>UZB</string>
	<key>CHI</key>
	<string>CHL</string>
	<key>NMI</key>
	<string>MNP</string>
	<key>GLP</key>
	<string>GLP</string>
	<key>BEN</key>
	<string>BEN</string>
	<key>ANT</key>
	<string>BES</string>
	<key>HUN</key>
	<string>HUN</string>
	<key>HON</key>
	<string>HND</string>
	<key>SKN</key>
	<string>KNA</string>
	<key>SHN</key>
	<string>SHN</string>
	<key>SEN</key>
	<string>SEN</string>
	<key>BHR</key>
	<string>BHR</string>
	<key>MSR</key>
	<string>MSR</string>
	<key>IRL</key>
	<string>IRL</string>
	<key>KGZ</key>
	<string>KGZ</string>
	<key>BER</key>
	<string>BMU</string>
	<key>CHN</key>
	<string>CHN</string>
	<key>STP</key>
	<string>STP</string>
	<key>NAM</key>
	<string>NAM</string>
	<key>KAZ</key>
	<string>KAZ</string>
	<key>ASA</key>
	<string>ASM</string>
	<key>EQG</key>
	<string>GNQ</string>
	<key>MAR</key>
	<string>MAR</string>
	<key>ENG</key>
	<string>GB-ENG</string>
	<key>TKL</key>
	<string>TKL</string>
	<key>MYT</key>
	<string>MYT</string>
	<key>ETH</key>
	<string>ETH</string>
	<key>IRN</key>
	<string>IRN</string>
	<key>REU</key>
	<string>REU</string>
	<key>MAS</key>
	<string>MYS</string>
	<key>TKM</key>
	<string>TKM</string>
	<key>BHU</key>
	<string>BTN</string>
	<key>LCA</key>
	<string>LCA</string>
	<key>LIB</key>
	<string>LBN</string>
	<key>GUY</key>
	<string>GUY</string>
	<key>GHA</key>
	<string>GHA</string>
	<key>RSA</key>
	<string>ZAF</string>
	<key>DEN</key>
	<string>DNK</string>
	<key>MDV</key>
	<string>MDV</string>
	<key>IRQ</key>
	<string>IRQ</string>
	<key>GNB</key>
	<string>GNB</string>
	<key>ZIM</key>
	<string>ZWE</string>
	<key>EU</key>
	<string>EUR</string>
	<key>LIE</key>
	<string>LIE</string>
	<key>PAK</key>
	<string>PAK</string>
	<key>SWZ</key>
	<string>SWZ</string>
	<key>PAN</key>
	<string>PAN</string>
	<key>JOR</key>
	<string>JOR</string>
	<key>SEY</key>
	<string>SYC</string>
	<key>GBG</key>
	<string>GGY</string>
	<key>NCA</key>
	<string>NIC</string>
	<key>UKR</key>
	<string>UKR</string>
</dict>
</plist>
